@media screen and (min-width: 1200px) {
  /* <!-- general style --> */

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .ourteam-container-mob,
  .customers-container-tab,
  .footer-container-tab {
    padding-right: none;
    padding-left: none;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* <!-- logo style --> */

  .logo {
    line-height: 1.33;
  }

  /* <!-- modal style --> */

  .modal-title {
    margin-bottom: 14px;
  }

  /* <!-- header style --> */

  .header {
    padding-bottom: 28px;
  }

  .header-list {
    margin-left: 76px;
  }

  .header-link {
    transition: color var(--accent-tra);
  }

  .header-address {
    font-size: 16px;
    letter-spacing: 0.02em;
  }

  .header-address-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .header-address-item {
    flex-basis: calc((100% - 40px) / 2);
  }

  /* <!-- accent header style --> */

  .current::after {
    bottom: -24px;
  }

  /* <!-- footer style --> */

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: unset;
    row-gap: unset;
  }

  .footer-container-soc {
    margin-left: 120px;
    margin-right: 80px;
  }

  .footer-container-subscribe {
    width: auto;
  }

  /* <!-- main style --> */

  /* <!-- hero style --> */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* <!-- features style --> */

  .features-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--features-icon-background);
    border-radius: 4px;
    height: 112px;
  }

  .features-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .features-desc {
    font-weight: 400;
  }

  /* <!-- whatwedo style --> */

  .whatwedo {
    display: block;
    padding-top: 0;
  }

  .whatwedo-title {
    margin-bottom: 72px;
  }

  .whatwedo-list {
    display: flex;
    gap: 24px;
  }

  .whatwedo-item {
    border: 1px solid var(--border-color);
    flex-basis: calc((100% - 48px) / 3);
  }

  /* <!-- ourteam style --> */

  .ourteam {
    max-width: 1440px;
  }

  .ourteam-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
  }

  .ourteam-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  /* <!-- customers style --> */

  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .customers-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }

  /* <!-- portfolio.html style --> */

  .pfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .pfolio-menu-list {
    margin-bottom: 72px;
  }

  .pfolio-card-list {
    row-gap: 48px;
  }

  .pfolio-card-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
